@btn-color: #9CA074; /*было #F0AD4E желтое, #5BC0DE голубое, #337AB7 синее*/
@neposedy: #ffffff; /*было #509b50 зеленоватое и синее #337AB7*/
@all-text: #ffffff;
@neposedy-shadow: #9CA074; /*было желтоватое #fade0a* и зеленое green и синее #337AB*/
.colortext {
	color: red; /*Цвет указателя NEW*/
}

*,
::before,
::after{
	box-sizing: border-box;
}
body {
  	/*background-color: @btn-color;*/ 
	margin: 0;
}
/*.intro{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;	
	height: 100vh;		
}*/

.intro__media {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
	overflow: hidden;
	/*background: #ccc url(../img/2.jpg) no-repeat center center;
	background-size: cover;*/
}
.intro__media-video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transform: translate(-50%, -50%);
}
/*.conteiner{
	position: relative;
	z-index: 100;
}*/

/*ФОТО на заставке*/
/*.intro{
	background: url(../img/41_.jpg) center center no-repeat;		
	background-size: cover;
	height: 100vh;	
	animation-delay: 0.3s;
}*/



.header{
	display: block;
	margin-top: 30px;	 
	font-size: 100px;
	letter-spacing: 9px;
	font-weight: 600;
    font-family: Tahoma, Sans-serif;
    color: @neposedy;	
    text-shadow: 0px 0px 20px @neposedy-shadow;
	animation-delay: 0.1s;
	&:hover {
		cursor: none;		
		will-change: unset;	
		color: @neposedy;
		&:focus {
			text-decoration: none;
			color: @neposedy;
		}
	}
}
.header::after {
	content: '';	
	display: block;
	width: 100%;
	height: 2px; /*Толщина появляющейся полоски под словлм*/	
	transform: scaleX(0);
	background-color: @neposedy;
	transition: all 0.3s;
}
.header:hover::after {
	color: @neposedy;
	transform: scaleX(1);
}
.goroda{	
    color: @neposedy;
	font-size: 25px;
	font-weight: 600;
    text-shadow: 1px 1px 40px @neposedy-shadow;
	animation-delay: 0.5s;
	padding-top: 0px;
}

.conteiner-2{
    padding-top: 80px;
	/*padding-bottom: 200px;*/ /*отступ внизу после кнопок*/
	
}
a:hover {
	text-decoration: none;	
}
/*.zagolovok {
	display: inline-block;
	font-size: 100px;
	text-decoration: none;
}*/	
.button {
	background-color: @btn-color;
	color: @all-text;
	margin: 10px;
	font-size: 30px;
	border: none;
	border-radius: 8px;
	box-shadow: -2px -2px 5px #0a0a0a;
	transition: all 0.3s;	
    &:hover {
       transform: scale(1.02);	   
	   /*color: #CF231F;*/	
	   box-shadow: -12px -12px 15px #0a0a0a;	
       background-color: lighten(@btn-color, 10%);
	   &:focus {
			transform: scale(1);				
			box-shadow: 2px 2px 10px #0a0a0a;	
			background-color: @btn-color;
		}
	}		
}
.bt-1 {
	animation-delay: 1s;
}
/*.bt-2 {
	animation-delay: 1.8s;
}*/
.bt-3 {
	animation-delay: 1.1s;
}
.bt-4 {
	animation-delay: 1.2s;
}
.bt-5 {
	animation-delay: 1.3s;
}
.bt-6 {
	animation-delay: 1.4s;
}

/*медиа запросы*/
@media (max-width: 992px) {	
	.goroda {
		text-align: center;			
	}	
}
@media (max-width: 768px) {
	.header {
		font-size: 40px;		
	}
	.goroda {
		font-size: 20px;
	}
	.conteiner-2{
    padding-top: 20px;
	}
	.button {
		font-size: 20px;
	}
}